<% if user_signed_in? %>
 <p><%= image_tag @user.avatar.url, style: "width: 50px" %></p>
 <li>Hello, <%= @user.name %>さん</li>
 <li><%= link_to "プロフィール編集", edit_user_registration_path %> </li>
 <li><%= link_to "新規投稿", "#" %></li>
 <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
 <% else %>
 <li><%= link_to "ログイン", new_user_session_path %></li>
 <li><%= link_to "新規登録", new_user_registration_path %></li>
<% end %>
